<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>


<header id="header">
    <div class="bg-gray-500 flex justify-center items-center">
        <div class="flex justify-start pb-6 pt-6 pl-64">
            <img src="https://i.postimg.cc/gjTyVnc0/Group-K-3.png" class="w-1/6 h-1/6">
            <div class="container mx-auto items-center pt-8">
                <a href="/home">
                    <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                        ITS Help
                        Services
                    </h1>
                </a>

                <nav>
                    <a class="hover:text-red-700 px-4" href="/faqPage">FAQs</a>
                    <a class="hover:text-red-700 px-4" href="/qnaPage">Q&A</a>
                    <a class="hover:text-red-700 px-4" href="{{ firstTagRoute }}">{{ firstTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ secondTagRoute }}'>{{ secondTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ thirdTagRoute }}'>{{ thirdTag }}</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<body class="bg-gray-100">
    <div class="pt-2">
        <h1 class="flex justify-center">Frequently Asked Questions and Solutions</h1>
    </div>

    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
        <h2 class="flex justify-center text-2xl">Miscellaneous
        </h2>
        <h3 id="teams" class="flex justify-center font-bold underline py-2">How to create a teams meeting</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <li class="mb-2">Download Microsoft Teams or go on the web version</li>
                <li class="mb-2">If you are on a UWE account your access may be limited, but in normal instances, click
                    calendar once it has loaded up.
                </li>
                <li class="mb-2">The calendar page should show your schedule for the next week and in the top right
                    corner is 'New Meeting', click this.
                </li>
                <li class="mb-2">You will then be prompted to enter the details regarding your meeting, e.g. Meeting
                    name, recipients, time and date, etc. Click save in the top right corner and your meeting is set and
                    invitations will have been sent out.
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/yN05pgM8/Teams.png" class="w-1/2 h-1/2">
                </div>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
        <h3 id="accesslibrary" class="flex justify-center font-bold underline py-2">How to access Library Search</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <li class="mb-2">Log into MyUWE via 'https://newmy.uwe.ac.uk/'</li>
                <li class="mb-2">You should then be taken to your MyUWE Dashboard and at the top is a link to
                    'Library Search', click this.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/fThtb2j2/bb.png" class="w-1/2">
                </div>
                <li class="mb-2">You should then be taken to Library Search where you can search for anything, set
                    filters on your search, explore databases, etc.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/ryDH7HXH/Library-Search.png" class="w-1/2">
                </div>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="student_id">
        <h3 class="flex justify-center font-bold underline py-2">How to order a new ID card</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <li class="mb-2">Log in to my uwe via https://newmy.uwe.ac.uk</li>
                <li class="mb-2">On the myUwe dashboard, on the left is a side bar, click the ‘Your Info’ Option
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/NjXrG3Zz/main-sidebar.png" class="w-1/2 h-1/2">
                </div>
                <li class="mb-2">Once the ‘Your Info’ page has loaded, scroll down and in the centre of the page will be
                    a section labelled ‘Your Documents’
                </li>
                <li class="mb-2">On ‘Your Documents’, there are two sections, and our focus is on ‘Student Card’.
                    Click on the hyperlink at the end of the second paragraph to access the online store where you can
                    order your card.
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/d09rK4MS/yourDocs.png" class="w-1/5 h-1/5">
                </div>
                <li class="mb-2">Once the online store webpage has loaded scroll until your find the Replacement Student
                    ID Card option
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/4xsp2rqh/Student-Card.png" class="w-1/5 h-1/5">
                </div>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
        <h3 id="print" class="flex justify-center font-bold underline py-2">How to print things</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <p class="mb-2">This guide is for UWE computers as only they are linked to the printers</p>
                <li class="mb-2">Assuming you have a file saved on your computer that needs to be printed. Open this
                    file and along the top of the page should be a 'Print' option. If not there should be a 'File'
                    option, click this and 'Print' should appear when the page transitions.</li>
                <li class="mb-2">On the print page, select the settings of your choice, i.e. page colour, page size,
                    double-sided or not, orientation etc. Once you are satisfied with the settings, click print.
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/BQRM2hRW/Print-Page.png" class="w-1/3 h-1/3">
                </div>
                <li class="mb-2">The next step is to locate a printer. There is a printer hub on 2nd floor of D block, a
                    Print & Copy room on 3rd floor and a few printers on 4th floor.
                </li>
                <li class="mb-2">Once you locate a working printer, log in using your student ID or your login details
                    and select 'Print Documents'
                </li>
                <li class="mb-2">Once you get onto the 'Print Document', you can pick what specific documents you want
                    to print or all of them.
                </li>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
        <h3 id="events" class="flex justify-center font-bold underline py-2">How to register for UWE Events</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <p class="mb-2">UWE's main event platform is Handshake. Follow these steps to get set up.</p>
                <li class="mb-2">Follow this link and sign in via UWE SSO: https://app.joinhandshake.co.uk/login</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/dVkVD9TS/Handshake-Login.png" class="w-1/3 h-1/3">
                </div>
                <li class="mb-2">Once you have logged in, this page will load and from here you can access events
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/QdmZ89fn/Handshake-Home.png" class="w-1/2 h-1/2">
                </div>
                <li class="mb-2">Next, click on 'Events' and select one that appeals to you. You will then be shown a
                    screen similar to the image below. To register, simply click the 'Register' button
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/ht6b7MZJ/Event.png" class="w-1/2 h-1/2">
                </div>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
        <h3 id="borrow" class="flex justify-center font-bold underline py-2">How do I go about borrowing books from the
            library</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <li class="mb-2">Log into MyUWE via 'https://newmy.uwe.ac.uk/'</li>
                <li class="mb-2">You should then be taken to your MyUWE Dashboard and at the top is a link to
                    'Library Search', click this.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/fThtb2j2/bb.png" class="w-1/2">
                </div>
                <li class="mb-2">You should then be taken to Library Search where you can search for anything, set
                    filters on your search, explore databases, etc.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/ryDH7HXH/Library-Search.png" class="w-1/2">
                </div>
                <li class="mb-2">Then find the resource that you want. In my example below, I am picking Kensuke's
                    Kingdom as there are physical copies and not everything on Library Search is physical.</li>
                <p class="mb-2">Next, click Hold/Recall beside 'REQUEST' and select the pickup location of your choice.
                    Your request will then be sent and If accepted you can collect your item.</p>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/L4vH4WhV/Kensukes.png" class="w-1/2">
                </div>
            </ol>
        </div>
    </div>

</body>

<footer class="bg-gray-500">
    <div class="flex justify-center items-center py-4">
        <a class="px-2" href="mailto:uweitstestemail@gmail.com">
            <h1>Contact us!</h1>
        </a>
        <a class="px-2" href="#header">
            <h1>Back to top</h1>
        </a>
    </div>
</footer>

</html>