<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>


<header id="header">
    <div class="bg-gray-500 flex justify-center items-center">
        <div class="flex justify-start pb-6 pt-6 pl-64">
            <img src="https://i.postimg.cc/gjTyVnc0/Group-K-3.png" class="w-1/6 h-1/6">
            <div class="container mx-auto items-center pt-8">
                <a href="/home">
                    <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                        ITS Help
                        Services
                    </h1>
                </a>

                <nav>
                    <a class="hover:text-red-700 px-4" href="/faqPage">FAQs</a>
                    <a class="hover:text-red-700 px-4" href="/qnaPage">Q&A</a>
                    <a class="hover:text-red-700 px-4" href="{{ firstTagRoute }}">{{ firstTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ secondTagRoute }}'>{{ secondTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ thirdTagRoute }}'>{{ thirdTag }}</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<body class="bg-gray-100">
    <div class="py-2">
        <h1 class="flex justify-center">Frequently Asked Questions and Solutions</h1>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="blackboard">
        <h2 class="flex justify-center text-2xl pt-2">Attendance
        </h2>
        <div>
            <h3 class="flex justify-center font-bold underline py-2">How to see my attendance</h3>
            <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
                <ol class="list-decimal pl-4">
                    <li class="mb-2">Log into MyUWE via 'https://newmy.uwe.ac.uk/'</li>
                    <li class="mb-2">You should then be taken to your MyUWE Dashboard and at the top is a link to
                        'MyEngagement', click this.</li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/fThtb2j2/bb.png" class="w-1/2">
                    </div>
                    <li class="mb-2">Once you have clicked this, You are taken to the MyEngagement page and there is a
                        bar with options. Click the 'Attendance' option
                    </li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/dQyQsLmJ/engagement-Options.png" class="w-1/2">
                    </div>
                    <li class="mb-2">Your attendance is then showed. At the top is a summary and further down is the raw
                        data.</li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/bNPPqLwR/attendance-Page.png" class="w-1/2">
                    </div>

                </ol>
            </div>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
        <h3 class="flex justify-center font-bold underline py-2">How to record my attendance</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4 pr-1">
                <p class="pb-2">Computer/Laptop:</p>
                <li class="mb-2">Log into MyUWE via 'https://newmy.uwe.ac.uk/'</li>
                <li class="mb-2">You should then be taken to your MyUWE Dashboard and at the top is a link to
                    'MyAttendance', click this.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/fThtb2j2/bb.png" class="w-1/2">
                </div>
                <li class="mb-2">You should then be taken to MyAttendance and on the main page are 4 sections, click
                    'Check-In'.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/tCBM8zZJ/my-Attendance-Menu.png" class="w-1/2">
                </div>
                <li class="mb-2">As long as the lesson is in progress, you can then submit your attendance code and your
                    attendance will be recorded.</li>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
        <div class="mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4">
                <p class="flex justify-center pb-2">Phone/Tablet:</p>
                <li class="mb-2">Download the UWE Bristol MyAttendance App from the App Store or Google Play Store. The
                    image below is for the App Store.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/BQRx88RN/IMG-7666.jpg" class="w-1/6 h-1/6">
                </div>
                <li class="mb-2">Once the app has installed, Log in using your UWE details</li>
                <li class="mb-2">You should then be taken to the MyAttendance home and on the main page are 4 sections,
                    press
                    'Check-In'.
                </li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/xTXvTGpc/IMG-7667.jpg" class="w-1/6 h-1/6">
                </div>
                <li class="mb-2">As long as the lesson is in progress, you can then submit your attendance code and your
                    attendance will be recorded.</li>
            </ol>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
        <h3 class="flex justify-center font-bold underline py-2">How to check my engagement</h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4 pr-1">
                <li class="mb-2">Log into MyUWE via 'https://newmy.uwe.ac.uk/'</li>
                <li class="mb-2">You should then be taken to your MyUWE Dashboard and at the top is a link to
                    'MyEngagement', click this.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/fThtb2j2/bb.png" class="w-1/2">
                </div>
                <li class="mb-2">You should then be taken to MyEngagement. Scroll down and you will see more
                    information.</li>
                <div class="flex justify-center py-2">
                    <img src="https://i.postimg.cc/bvmH3qmB/Engagement-Chart.png" class="w-1/2">
                </div>
            </ol>
        </div>
    </div>
</body>

<footer class="bg-gray-500">
    <div class="flex justify-center items-center py-4">
        <a class="px-2" href="mailto:uweitstestemail@gmail.com">
            <h1>Contact us!</h1>
        </a>
        <a class="px-2" href="#header">
            <h1>Back to top</h1>
        </a>
    </div>
</footer>

</html>