<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>


<header id="header">
    <div class="bg-gray-500 flex justify-center items-center">
        <div class="flex justify-start pb-6 pt-6 pl-64">
            <img src="https://i.postimg.cc/gjTyVnc0/Group-K-3.png" class="w-1/6 h-1/6">
            <div class="container mx-auto items-center pt-8">
                <a href="/home">
                    <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                        ITS Help
                        Services
                    </h1>
                </a>

                <nav>
                    <a class="hover:text-red-700 px-4" href="/faqPage">FAQs</a>
                    <a class="hover:text-red-700 px-4" href="/qnaPage">Q&A</a>
                    <a class="hover:text-red-700 px-4" href="{{ firstTagRoute }}">{{ firstTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ secondTagRoute }}'>{{ secondTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ thirdTagRoute }}'>{{ thirdTag }}</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<body class="bg-gray-100">
    <div class="py-2">
        <h1 class="flex justify-center">Frequently Asked Questions and Solutions</h1>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="blackboard">
        <h2 class="flex justify-center text-2xl pt-2">Finance
        </h2>
        <div>
            <h3 id="fees" class="flex justify-center font-bold underline py-2">How can I review my fees and payments
            </h3>
            <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
                <ol class="list-decimal pl-4">
                    <li class="mb-2">Log into MyUWE via 'https://newmy.uwe.ac.uk/'</li>
                    <li class="mb-2">You should then be taken to your MyUWE Dashboard and on the left side of the page,
                        there is a sidebar. Click the option that says 'Your Info'</li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/NjXrG3Zz/main-sidebar.png" class="w-1/2 h-1/2">
                    </div>
                    <li class="mb-2">You will now see a page with a section in the centre labelled 'Fees and Payments'.
                        In this section you will be able to scroll down to see your
                        due payments whether that be accomodation, tuition, etc. You can also see what you owe to your
                        sponsor if that applies to you and also ways to pay what you owe.
                    </li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/gc1XJ17R/feesandpayments2.png" class="w-1/2 h-1/2">
                    </div>
                </ol>
            </div>
        </div>
    </div>
    <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
        <h3 id="loan" class="flex justify-center font-bold underline py-2">My student loan isn’t appearing on my fees
            and payments
            page, what should I do? </h3>
        <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
            <ol class="list-decimal pl-4 pr-1">
                <li class="mb-2">First you should confirm that your student loan has been approved and confirmed by
                    Student Finance England. Usually, they email you and send a physical letter to confirm this. If you
                    haven't recieved this, check if your application
                    was successful in your SFE account menu and if it has been then it should only be a matter of time
                    before you recieve confirmation. If it hasn't, SFE will provide information on why.
                </li>
                <li class="mb-2">Now if you've recieved confirmation from SFE and it hasn't showed up, it may be because
                    they haven't sent it through yet. They usually do this all at one go and there is a specific date
                    for this.
                </li>
                <li class="mb-2">For tuition loans, the funds are sent directly to UWE so if it hasn't appeared yet,
                    wait 2 weeks as there may be a delay and if at this point it still hasnt appeared, then contact SFE.
                </li>
                <li class="mb-2">For maintenance loans, the funds are sent directly to the bank account you provided
                    when applying. SFE usually send you a text message saying when the funds should arrive by. They also
                    mention that if it hasn't arrived by this time, to contact your bank before contacting SFE.
                </li>

            </ol>
        </div>
    </div>
</body>

<footer class="bg-gray-500">
    <div class="flex justify-center items-center py-4">
        <a class="px-2" href="mailto:uweitstestemail@gmail.com">
            <h1>Contact us!</h1>
        </a>
        <a class="px-2" href="#header">
            <h1>Back to top</h1>
        </a>
    </div>
</footer>

</html>