<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>

<header id="header">
    <div class="bg-gray-500 flex justify-center items-center">
        <div class="flex justify-start pb-6 pt-6 pl-64">
            <img src="https://i.postimg.cc/gjTyVnc0/Group-K-3.png" class="w-1/6 h-1/6">
            <div class="container mx-auto items-center pt-8">
                <a href="/home">
                    <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                        ITS Help
                        Services
                    </h1>
                </a>

                <nav>
                    <a class="hover:text-red-700 px-4" href="/faqPage">FAQs</a>
                    <a class="hover:text-red-700 px-4" href="/qnaPage">Q&A</a>
                    <a class="hover:text-red-700 px-4" href="{{ firstTagRoute }}">{{ firstTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ secondTagRoute }}'>{{ secondTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ thirdTagRoute }}'>{{ thirdTag }}</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<script>
    // JavaScript to toggle dropdown
    function toggleDropdown() {
        var topicMenu = document.getElementById("topicMenu");
        topicMenu.classList.toggle("hidden");
    }

    // Close dropdown when clicking outside
    window.onclick = function (event) {
        var topicMenu = document.getElementById("topicMenu");
        if (!event.target.matches('.bg-gray-600')) {
            topicMenu.classList.add('hidden');
        }
    }
</script>

<body>
    <div class="min-h-screen bg-gray-100">
        <div class="pt-4">
            <h1 class="flex justify-center">Question</h1>
        </div>
        <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 ml-auto mr-auto">
                <p class="font-bold underline">{{ question.questionDesc }}</p>
                <p>Date and Time Posted: {{ question.questionDT }}</p>
                <p>Topic: {{ question.questionTopic }}</p>
            </div>
        </div>
        <div class="flex justify-center">
            <h1>Answers</h1>
        </div>
        <p class="flex justify-center">{{ msg }}</p>
        <div>
            {% for item in answersArray %}
            <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
                <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 ml-auto mr-auto">
                    <p>{{ item.answerDesc }}</p>
                    <p>Date and Time Posted: {{ item.answerDT }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pt-4 pb-2">
            <div class="flex justify-center pb-2">
                <h1>Answer this question!</h1>
            </div>
            <div class="flex justify-center">
                <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8"
                    action="/add_answer/{{ question.questionID }}">
                    <div>
                        <div>
                            <label class="flex justify-center pb-2" for="answer">Answer:</label>
                        </div>
                        <div>
                            <input type="text" id="answer" placeholder="Please enter your answer" name="answer"
                                required>
                        </div>
                    </div>
                    <div class="flex justify-center py-2">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
            <div class="flex justify-center">
                <p>{{ message }}</p>
            </div>
        </div>
    </div>
</body>

<footer class="bg-gray-500">
    <div class="flex justify-center items-center py-4">
        <a class="px-2" href="mailto:uweitstestemail@gmail.com">
            <h1>Contact us!</h1>
        </a>
        <a class="px-2" href="#header">
            <h1>Back to top</h1>
        </a>
    </div>
</footer>

</html>