<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}" type="image/x-icon">
</head>


<header id="header">
    <div class="bg-gray-500 flex justify-center items-center">
        <div class="flex justify-start pb-6 pt-6 pl-64">
            <img src="https://i.postimg.cc/gjTyVnc0/Group-K-3.png" class="w-1/6 h-1/6">
            <div class="container mx-auto items-center pt-8">
                <a href="/home">
                    <h1 class="text-2xl font-bold pl-4 mb-4 flex justify-start" href="/home">UWE
                        ITS Help
                        Services
                    </h1>
                </a>

                <nav>
                    <a class="hover:text-red-700 px-4" href="/faqPage">FAQs</a>
                    <a class="hover:text-red-700 px-4" href="/qnaPage">Q&A</a>
                    <a class="hover:text-red-700 px-4" href="{{ firstTagRoute }}">{{ firstTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ secondTagRoute }}'>{{ secondTag }}</a>
                    <a class="hover:text-red-700 px-4" href='{{ thirdTagRoute }}'>{{ thirdTag }}</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<body class="bg-gray-100">

    <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
        <div class="py-2">
            <h1 class="flex justify-center">Frequently Asked Questions and Solutions</h1>
        </div>

        <div class="px-8 pt-6 pb-8 ml-auto mr-auto" id="password_and_security">
            <h2 class="flex justify-center text-2xl">Timetable
            </h2>
            <h3 id="accesstimetable" class="flex justify-center font-bold underline py-2">How to access my timetable
            </h3>
            <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
                <ol class="list-decimal pl-4">
                    <li class="mb-2">Type 'https://newmy.uwe.ac.uk/' into a search engine of your choice</li>
                    <li class="mb-2">You should then be taken to your MyUWE Dashboard and on the left side of the page
                        is a sidebar. Click the 'Timetable'.</li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/NjXrG3Zz/main-sidebar.png" class="w-1/2 h-1/2">
                    </div>
                    <li class="mb-2">You will then be taken to your timetable page where it shows your lessons for the
                        day, and a chart with your lessons on for the week.
                        This can be adjusted for the month or just the day.
                    </li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/4xyr3cvy/timetable.png" class="w-1/2 h-1/2">
                    </div>
                </ol>
            </div>
        </div>

        <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
            <h3 id="addtimetable" class="flex justify-center font-bold underline py-2">How do I add my timetable to my
                phone calendar</h3>
            <h3 class="flex justify-center font-bold underline py-2">IOS:</h3>
            <div class="flex justify-center container mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
                <ol class="list-decimal pl-4">
                    <li class="mb-2">Type 'https://newmy.uwe.ac.uk/' into a search engine of your choice</li>
                    <li class="mb-2">You should then be taken to your MyUWE Dashboard and on the left side of the page
                        is a sidebar. Click the 'Timetable'.</li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/NjXrG3Zz/main-sidebar.png" class="w-1/2 h-1/2">
                    </div>
                    <li class="mb-2">You will then be taken to your timetable page where it shows your lessons for the
                        day, and a chart with your lessons on for the week. Along the top is a option that says
                        iCalendar, click this.
                    </li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/66d0dQ60/IMG-7662.jpg" class="w-1/6 h-1/6">
                    </div>
                    <li class="mb-2">The iCalendar section will now load and you will be given the option of picking
                        between a Teaching, Exam or combined timetable. Click the one that is most appropriate for your
                        use.
                    </li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/SQ76ntV1/IMG-7663.jpg" class="w-1/6 h-1/6">
                    </div>
                    <li class="mb-2">you will then be taken to this screen where you confirm the calendar subscription
                        and upon clicking the 'Subscribe' button, the timetable will be applied!
                    </li>
                    <div class="flex justify-center py-2">
                        <img src="https://i.postimg.cc/5N4wLqR4/IMG-7661.jpg" class="w-1/6 h-1/6">
                    </div>

                </ol>
            </div>
        </div>
        <div class="px-8 pt-6 pb-8 ml-auto mr-auto">
            <h3 class="flex justify-center font-bold underline py-2">Android:</h3>
            <div class="mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8">
                <div>
                    <p class="pb-2">The instructions to add your timetable to your calendar on android is very similar
                        to the IOS version.
                        Follow the first 4 IOS steps and then click the link below on further information on how to add
                        it. Be advised, the example in the link is it is an email invite but it is relatively the same
                        if you follow the steps.
                    </p>
                </div>
                <div>
                    <a class="flex justify-center underline text-lg pb-2"
                        href="https://support.google.com/calendar/answer/37100?hl=en&co=GENIE.Platform%3DAndroid&oco=1">Android
                        Support</a>
                </div>
            </div>
        </div>

    </div>

</body>

<footer class="bg-gray-500">
    <div class="flex justify-center items-center py-4">
        <a class="px-2" href="mailto:uweitstestemail@gmail.com">
            <h1>Contact us!</h1>
        </a>
        <a class="px-2" href="#header">
            <h1>Back to top</h1>
        </a>
    </div>
</footer>

</html>